# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
.vscode/

# Misc
_sass/vendors
assets/js/dist

# obsidian
.obsidian/

# MacOS
.DS_Store

# ClaudeCode
.claude/